@import "../assets/fonts/cormorant-upright/style.css";
@import "../assets/fonts/open-sans/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-[16px] min-[1921px]:text-[17px];
  }

  *:focus-visible {
    outline: none;
  }
}

@layer components {
  .wrapper {
    @apply mx-auto w-full px-4 sm:max-w-[theme(screens.sm)] md:max-w-[theme(screens.md)] lg:max-w-[theme(screens.lg)] xl:max-w-[theme(screens.xl)];
  }

  .font-heading {
    @apply font-primary leading-[130%] tracking-[.04em];
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    scrollbar-width: none;
  }
}
